TWINGATE_NETWORK=your_network_name
TWINGATE_ACCESS_TOKEN_1=YOUR_ACCESS_TOKEN_1
TWINGATE_REFRESH_TOKEN_1=YOUR_REFRESH_TOKEN_1
TWINGATE_ACCESS_TOKEN_2=YOUR_ACCESS_TOKEN_2
TWINGATE_REFRESH_TOKEN_2=YOUR_REFRESH_TOKEN_2
