UPLOAD_LOCATION=/srv/dev-disk-by-uuid-ef4cba07-46ee-4337-a6a0-c35e8399f14b/Docker/immich/library
DB_DATA_LOCATION=/srv/dev-disk-by-uuid-ef4cba07-46ee-4337-a6a0-c35e8399f14b/Docker/immich/postgres
IMMICH_VERSION=release
DB_PASSWORD=generate_strong_postgres_password
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
